
.pai {
    display: flex;
    background-color: rgb(134, 13, 13);
    flex-direction: row;
    justify-content: center;
    justify-content: baseline;
      }
      
      .pai > div {
        background-color: #000000;
        margin: 20px;
        padding: 20px;
        font-size: 20px;
        justify-content: center;
      }
    
      body{
        color: rgb(252, 252, 252);
        background-color:black ;
    }
     h1{
        text-align: center;
       
     }
    
    a{
        text-decoration: none;
        color: rgb(170, 11, 37);
    }
    
    div{
        color: rgb(255, 255, 255);
    }